html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #16697A;
}

body {
  background: #82C0CC;
  margin: 1rem 5px;
}

h2, h3 {
  margin: 0;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 10px;
  padding: 2rem;
}

.intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(images/pexels-eberhard-grossgasteiger-443446-square.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/pexels-eberhard-grossgasteiger-443446-square.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  min-height: 300px;
  text-align: center;
}

.intro__logo {
  display: inline-block;
  max-width: 2rem;
  height: auto;
  margin-left: 1rem;
}

.intro__text {
  display: inline-block;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  color: #FFA62B;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
}

.navigation__nav-item {
  list-style: none;
}

.navigation__nav-item a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  border-bottom: #FFA62B solid 2px;
  color: #16697A;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 5px #556264;
          box-shadow: 0 1px 5px #556264;
}

.navigation__nav-item a:hover {
  background: #16697A;
  color: #EDE7E3;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 30px;
}

.about-me {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 20px;
      grid-template-areas: 'aboutMeImage' 'aboutMeText';
}

.about-me__image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aboutMeImage;
}

.about-me__image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 50%;
  border-radius: 50%;
}

.about-me__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aboutMeText;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 10px;
      grid-template-areas: 'skillsCategoryTech' 'skillsCategorySoft' 'skillsCategoryOther';
}

.skills__category--technical {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: skillsCategoryTech;
  display: inline-block;
  text-align: left;
}

.skills__category--soft {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: skillsCategorySoft;
  display: inline-block;
  text-align: left;
}

.skills__category--other {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: skillsCategoryOther;
  display: inline-block;
  text-align: left;
}

.work-and-projects {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 10px;
}

.contact_items {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: left;
      align-content: left;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.contact__item {
  display: block;
  margin: 2px 0;
  width: 4rem;
  height: auto;
}

#email:hover #email-rect1 {
  fill: #fff;
}

#email:hover #email-rect2, #email:hover #email-path {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

#email:hover #email-rect2 {
  fill: teal;
}

#email:hover #email-path {
  stroke: #fff;
}

#email-rect1, #email-rect2, #email-path {
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

#linkedin:hover {
  fill: #0077b5;
}

#linkedin:hover #linkedin-rect {
  fill: #fff;
}

#linkedin:hover #linkedin-circle {
  -webkit-animation: dissapear 0.5s ease;
          animation: dissapear 0.5s ease;
  animation-direction: alternate-reverse;
}

#linkedin:hover #linkedin-path1, #linkedin:hover #linkedin-path2 {
  stroke: #0077b5;
}

@-webkit-keyframes dissapear {
  to {
    opacity: 0;
  }
}

@keyframes dissapear {
  to {
    opacity: 0;
  }
}

#github:hover #github-rect {
  fill: #fff;
}

#github:hover #github-path {
  fill: #1B1817;
}

#github-path {
  -webkit-transition: all ease 1.5s;
  transition: all ease 1.5s;
}

footer {
  margin-top: 20px;
  background: #16697A;
  color: #EDE7E3;
  text-align: center;
  font-size: 70%;
}

@media (min-width: 768px) {
  .intro {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(images/pexels-eberhard-grossgasteiger-443446-wide.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/pexels-eberhard-grossgasteiger-443446-wide.jpg);
    background-size: cover;
  }
  .navigation {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .about-me {
    -ms-grid-columns: minmax(200px, 1fr) 1fr 1fr;
        grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
        grid-template-areas: 'aboutMeImage aboutMeText aboutMeText';
  }
  .about-me__image img {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .skills {
        grid-template-areas: 'skillsCategoryTech skillsCategorySoft skillsCategoryOther';
  }
}

@media (min-width: 1281px) {
  .navigation {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .about-me {
    -ms-grid-columns: minmax(150px, 1fr) 1fr 1fr 1fr 1fr;
        grid-template-columns: minmax(150px, 1fr) 1fr 1fr 1fr 1fr;
        grid-template-areas: 'aboutMeImage aboutMeText aboutMeText aboutMeText aboutMeText';
  }
  .work-and-projects {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=shpstyle.css.map */