:root {
    --primary: #82C0CC;
    --secondary: #489FB5;
    --dark: #16697A;
    --light: #EDE7E3;
    --shadow: 0 1px 5px #556264;
}

html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: var(--dark);
}

body {
    background: var(--primary);
    margin: 30px 5px;
}

h2,h3 {
    margin: 0;
}

.wrapper {
    display: grid;
    align-content: center;
    grid-gap: 10px;
    padding: 30px;
}
.intro {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/pexels-eberhard-grossgasteiger-443446.jpg);
    background-size: cover;
    padding: 10px;
    min-height: 200px;
    font-size: 250%;
    text-align: center;
    font-weight: bold;
    color: #FFA62B;
}

.navigation {
    display:grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
}

.navigation__nav-item {
    list-style: none;
}

/* .navigation__nav-item--prvni {
    margin-top: 5px;
}

.navigation__nav-item--posledni {
    border-bottom: none;
} */

.navigation__nav-item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom:#FFA62B solid 2px;
    color: var(--dark);
    font-weight: bold;
    box-shadow: var(--shadow);
}

.navigation__nav-item a:hover {
    background: var(--dark);
    color: var(--light);
}

.content {
    display:grid;
    grid-gap: 30px;
}

.about-me {
    display:grid;
    align-content: center;
    grid-gap: 10px;
    grid-template-areas:
    "aboutMeImage"
    "aboutMeText";
}

.about-me__image{
    grid-area: aboutMeImage;
}

.about-me__image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
    border-radius: 50%;
}

.about-me__text{
    grid-area: aboutMeText;
}

.skills {
    display:grid;
    grid-gap: 10px;
    grid-template-areas:
    'skillsCategoryTech'
    'skillsCategorySoft'
    'skillsCategoryOther';

}

.skills__category--technical{
    grid-area: skillsCategoryTech;
}

.skills__category--soft{
    grid-area: skillsCategorySoft;
}

.skills__category--other{
    grid-area: skillsCategoryOther;
}

.skills__list {
    text-align: left;
}

.work-and-projects {
    display:grid;
    grid-gap:10px;
}

.contact_items {
    display: grid;
    place-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
.contact__item {
    text-align: center;
    font-size: 80%;
    margin: 2px 0;
    border-radius: 5px;
}

.contact__item i {
    display:block;
    padding: 10px;
    min-width: 20px;    
}

.contact__item--email {
    background-color:rgb(211, 84, 84);
    color: white;
}

.contact__item--linkedin {
    background-color: #0072b1;
    color: white;
}

.contact__item--github{
    background-color: black;
    color: white;
}

footer {
    margin-top: 20px;
    background: var(--dark);
    color:var(--light);
    text-align: center;
    font-size: 70%;
}

@media (min-width: 768px) {
.navigation {
    grid-template-columns: 1fr 1fr;

}

.about-me {
    grid-template-columns: minmax(200px,1fr) 1fr 1fr;
    grid-template-areas:
    'aboutMeImage aboutMeText aboutMeText'
    ;
}

.about-me__image img {
    margin-top: 20px;
    margin-bottom:0;
}

.skills {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'skillsCategoryTech skillsCategorySoft skillsCategoryOther'
    ;
}

}

@media (min-width: 1281px) {
.navigation {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.about-me {
    grid-template-columns: minmax(150px,1fr) 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'aboutMeImage aboutMeText aboutMeText aboutMeText aboutMeText'
    ;
}

.work-and-projects {
    grid-template-columns: 1fr 1fr;
    
}

}