$background: #16161a;
$headline: #fffffe;
$paragraph: #94a1b2;
$button: #595c82;
$button-text: #fffffe;
$highlight: #ce9366;
$shadow: 0 1px 5px #3b3d46;

$breakpointTablet: 768px; 
$breakpointDesktop: 1281px;

$mediumMargin: 1rem;
$bigMargin: 2rem;
$mediumPadding: 1rem;
$bigPadding: 2rem;
$smallBorderRadius: 0.25rem;              

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/brian-patrick-tagalog-_8hGFBxWD0A-unsplash.jpg);
    margin: $mediumMargin 5px;
    color: $paragraph;
}

h2 {
    text-decoration: underline $highlight;
}

h2,h3 {
    margin: 0;
    color:$headline;
}

li {
    list-style: none;
}

blockquote {
    text-align: center;
    font-style: italic;
}


@mixin grid($alignContent: center, $gridGap: 1rem) {
    display: grid;
    align-content: $alignContent;
    grid-gap: $gridGap;
}


.intro {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/chris-havard-berge-pelpskt60TA-unsplash-small.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: $smallBorderRadius;
    min-height: 300px;
    text-align: center;
}

.intro__logo {
        display: inline-block;
        max-width: 3rem;
        height: auto;
        margin-left: $mediumMargin;
}

.intro__text {
    display: inline-block;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: $headline;
    margin: $mediumMargin;
}

.wrapper {
    @include grid(center, 10px);
    padding: {
        top:0;
        right: $bigPadding;
        left: $bigPadding;
        bottom: $bigPadding;
    }
    margin: {
        top: -$bigMargin;
        right: $bigMargin;
        left: $bigMargin;
        bottom: $bigMargin;
    }
    background: $background;
/*     position: relative;
    top: 0; */
    float:initial;
    border-radius: $smallBorderRadius;
}

.navigation {
    @include grid(center, 20px);
    padding: 0;
}

.navigation__nav-item {
    a{
        display: block;
        padding: $mediumPadding;
        text-decoration: none;
        text-align: center;
        font-weight: bolder;
        font-size: 115%;
        background: $button;
        color: $button-text;
        border-radius: $smallBorderRadius;
        &:hover, &:focus {
            background: $headline;
            color: $highlight;
        }
    }
}

.content {
    @include grid(center, 30px);
}

.content__section {
    padding-bottom: $mediumPadding;
    border-bottom: dotted 0.5px $paragraph;
}

.contact {
border:none
}

.about-me {
@include grid(center, 20px);
    grid-template-areas:
    'aboutMeImage'
    'aboutMeText';
    &__image {
        grid-area: aboutMeImage;
        img {
            display: block;
            margin: {
                left: auto;
                right: auto;
                bottom: $bigMargin
            }
            width: 50%;
            border-radius: 50%;
        }
    }
    &__text {
        grid-area: aboutMeText;
    }
}

@mixin skillCategory {
    display: inline-block;
    text-align: left;
}

.skills {
    &__category {
        &--technical {
            @include skillCategory;
        }
        &--soft {
            @include skillCategory;
        }
        &--other {
            @include skillCategory;
        }
    }
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.work-and-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.work-and-projects__section {
    flex-direction: column;
    margin: $mediumMargin;
}

.contact_items {
    display: flex;
    flex-flow: column;
    justify-content: left;    
    margin-top: $bigMargin;
}

.contact__item {
    display: block;
    margin: $mediumMargin 2px;
    min-width: 4rem;
    &--email, &--linkedin, &--github {
        max-width: 6rem;
    }
    height: auto;
}

#email {
    &:hover, &:focus {
        #email-rect1 {
            fill: #fff;
        }
        #email-rect2, #email-path {
            transform: rotateY(360deg);
            transform-origin: center;
        }
        #email-rect2 {
            fill: teal;
        }
        #email-path {
            stroke: #fff;
        } 
    }
}

#email-rect1, #email-rect2, #email-path {
    transition: all ease 0.8s; 
}

#linkedin {
    &:hover, &:focus {
    fill:#0077b5;
    #linkedin-rect {
        fill: #fff;
    }
    #linkedin-circle {
        animation: dissapear 0.5s ease;
        animation-direction: alternate-reverse;
    }
    #linkedin-path1, #linkedin-path2 {
        stroke: #0077b5;
    }
    }
}

@keyframes dissapear {
    to {
        opacity: 0;
    }
}

#github {
    &:hover, &:focus {
        #github-rect {
            fill: #fff;
        }
        #github-path {
            fill: #1B1817;
        }    
    }
}

#github-path {
    transition: all ease 1.5s; 
}

footer {
    margin-top: 20px;
    background: $button;
    color: $button-text;
    text-align: center;
    font-size: 70%;
    border-radius: $smallBorderRadius;
}

@mixin tablet {
    @media (min-width: $breakpointTablet) { @content; }
}

@include tablet {

.intro {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/chris-havard-berge-pelpskt60TA-unsplash.jpg);
    background-position: center;
    background-size: cover;
} 

.intro__text {
    margin-left: $bigMargin;
    font-size: 4rem;
}

.navigation {
    grid-template-columns: 1fr 1fr;
}

.about-me {
    grid-template-columns: minmax(200px,1fr) 1fr 1fr;
    grid-template-areas:
    'aboutMeImage aboutMeText aboutMeText'
    ;
}

.contact_items {
    display: flex;
    flex-flow: row;
    justify-content: left;    
    margin-top: $bigMargin;
}

.contact__item {
    margin: 2px $bigMargin;
}

}

@mixin desktop {
    @media (min-width: $breakpointDesktop) { @content; }
}

@include desktop {
.navigation {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.about-me {
    grid-template-columns: minmax(150px,1fr) 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'aboutMeImage aboutMeText aboutMeText aboutMeText aboutMeText'
    ;
}

.work-and-projects__section {
    flex-direction: row;
    flex: 0 1 45%;
}

}